{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
<h1>{% trans "About Us" %}</h1>
<p>Thông tin nhà đất minh bạch là mối quan tâm hàng đầu của người mua. Chúng tôi mong muốn đem đến cho quý khách hàng các thông tin theo tiêu chuẩn chính xác và nhanh chóng.</p>
<p>Công ty CP Đất 3 cây lúa luôn ứng dụng những nghiên cứu mới nhất để mang lại sự giản tiện cho website và chất lượng dịch vụ tốt nhất đến qu khách hàng.</p>
<p>Phục vụ suốt 64 tỉnh thành của Việt Nam, công ty CP Đất 3 Cây Lúa có mạng lưới cộng tác viên và đối tác phong phú. 
Nhằm phục vụ cho quý khách hàng ngày càng tốt hơn, xin quý khách đừng ngần ngại góp ý cho chúng tôi ở địa chỉ <a href="contact@bacaylua.com">contact@bacaylua.com</a>.</p>
<p>Chúng tôi luôn trân trọng và lắng nghe mọi ý kiến đóng góp của quý khách.</p>
{% endblock %}
