{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}
{% block body %}
<h1>Điều khoản sử dụng</h1>

Ðể sử dụng dịch vụ tại Ba Cây Lúa, người dùng phải đồng ý với những thỏa thuận sử dụng này. Người dùng chấp nhận và không có giới hạn tất cả các Điều khoản và Điều kiện dưới đây kể từ thời điểm người dùng sử dụng hay truy cập website này lần đầu tiên, bao gồm các nội dung và dịch vụ tại website này. (Áp dụng cho người dùng là thành viên lẫn người dùng chưa là thành viên của Ba Cây Lúa.)

Ba Cây Lúa có toàn quyền thay đổi các điều khoản và điều kiện vào bất kỳ lúc nào mà không cần báo trước. Người dùng có trách nhiệm theo dõi thường xuyên các thông tin được đưa lên mạng để cập nhật những thay đổi mới nhất.
<h2>BẢN QUYỀN VÀ CÁC QUY ĐỊNH VỀ NỘI DUNG</h2>

Ba Cây Lúa và người dùng cùng tôn trọng về các quy định tác quyền và tính thẩm mỹ trong môi trường tương tác cộng đồng. Để đảm bảo điều đó, yêu cầu người dùng tuân thủ các quy định về nội dung như sau:

    Đối với những nội dung mang tính sỡ hửu trí tuệ hay sở hữu độc quyền như hình ảnh và video, người dùng chịu hoàn toàn các trách nhiệm liên quan.
    Không sao chép và sử dụng các nội dung dưới mục đích thương mại khi chưa được phép.
    Các nội dung được đăng tải phải phù hợp với thuần phong mỹ tục và luật pháp của nước Cộng hòa xã hội chủ nghĩa Viêt Nam.

Mọi vấn đề có liên quan tới bản quyền tác giả, quyền sở hữu trí tuệ xin vui lòng truy cập http://support.bacaylua.com.
<h2>CÁC LIÊN KẾT</h2>

Trang web Ba Cây Lúa có thể chứa những đường liên kết tới trang web của các bên thứ ba (không thuộc quyền sở hữu hoặc kiểm soát bởi Ba Cây Lúa). Ba Cây Lúa không có bất kỳ liên kết với những trang web này do vậy chúng tôi không chịu trách nhiệm về nội dung, các qui định riêng với bất kỳ trang web của bên thứ ba nào.

Ba Cây Lúa cũng sẽ không chịu bất kỳ trách nhiệm gì về các nghĩa vụ pháp lý của người dùng (nếu có) phát sinh từ việc người dùng sử dụng các trang web của bên thứ ba này.

Do vậy, chúng tôi khuyến cáo người dùng hãy thậ̣n trọng khi người dùng rời trang web Ba Cây Lúa và hãy đọc kỹ các qui định chung và qui định riêng của mỗi trang web mà người dùng ghé thăm.
<h2>LOẠI TRỪ TRÁCH NHIỆM</h2>

Ba Cây Lúa sẽ không chịu trách nhiệm trong bất kỳ trường hợp nào dưới đây (bao gồm nhưng không giới hạn) về: thiệt hại trực tiếp, gián tiếp, ngẫu nhiên, đặc biệt, mang tính trả thù, hoặc có hậu quả từ bất kỳ lý do nào được liệt kê dưới đây:

    Nội dung (bao gồm bất kỳ lỗi hoặc sự thiếu chính xác trong đó);
    Những tổn thất cá nhân hoặc những thiệt hại bất khả kháng về tài sản có nguyên nhân từ trang web;
    Việc sử dụng bất hợp pháp các máy chủ và/hoặc sử dụng trái phép bất kỳ thông tin cá nhân, các thông tin tài chính chứa trong đó;
    Bất kỳ sự gián đoạn hoặc lỗi truyền tín hiệu tới/hoặc từ trang web của chúng tôi;
    Bất kỳ lỗi, virus, phần mềm gián điệp, hoặc những phần mềm tương tự như vậy có thể bị chuyển tới/hoặc từ trang web của chúng tôi bởi bên thứ ba;
    Lỗi hoặc sai sót trong nội dung tin tức hoặc những thiệt hại mắc phải do việc người dùng sử dụng nội dung trên hoặc thông qua trang web. Giới hạn trách nhiệm đã nói tới trên đây sẽ áp dụng trong phạm vi điều chỉnh của luật pháp đối với từng trường hợp cụ thể.

Đặc biệt, người dùng công nhận rằng Ba Cây Lúa sẽ không chịu trách nhiệm với các nội dung mà người sử dụng đăng tải trên trang web, hoặc sự công kích, nhạo báng, trái với đạo đức của bất kỳ bên thứ ba nào và những rủi ro như đã được liệt kê trên đây.
<h2>CAM KẾT CỦA NGƯỜI DÙNG</h2>

Người dùng cam kết KHÔNG khiếu nại Ba Cây Lúa (bao gồm các chi nhánh, văn phòng đại diện, bộ phận quản lý, công nhân viên và các trung tâm) về tất cả các thiệt hại, trách nhiệm, tổn thất, hoặc các chi phí tới từ:

    Việc người dùng sử dụng trang web;
    Do người dùng vi phạm các điều khoản này;
    Do vi phạm các qui định áp dụng cho các nội dung do người sử dụng đăng tải;
    Do người dùng vi phạm quyền của bất kỳ bên thứ ba, bao gồm (không giới hạn) các quyền liên quan tới bản quyền tác giả, quyền sở hữu trí tuệ, quyền xuất bản hoặc các quyền cá nhân;

Khiếu nại từ một bên thứ ba do nội dung người dùng đăng tải gây ra. Những biện pháp và nghĩa vụ bồi thường sẽ tồn tại với những điều khoản này và việc sử dụng trang web của người dùng.
{% endblock %}