/* SITE-SPECIFIC TAB STYLING */

body.profile #tab_profile a,
body.blogs #tab_blogs a,
body.tweets #tab_tweets a,
body.inbox #tab_inbox a
{
    color: #000; /* selected tab text colour */
}
body.profile #tab_profile,
body.blogs #tab_blogs,
body.tweets #tab_tweets,
body.inbox #tab_inbox
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}

* { margin:0; padding:0; }
a { color: #5b80b2; text-decoration:none; }
a:hover { text-decoration:underline; }
a img { border:none; }
h1 { font-size:1.8em; color:#666; margin:0.4em 0 0.2em 0; }
h2 { font-size:1.5em; color:#666; margin:1em 0 0.2em 0; }
p { margin:0.5em 0 1em 0; }
.odd { background-color:#EDF3FE; }
.quiet { color:#666; }
/* OBJECT LISTS */
.objectlist { clear:both; color:#666; list-style-type: none; }
.objectlist li h3 {	display:block; padding:1em 20px; background:#445ea1; color:white; -moz-border-radius-topleft: 15px;	-moz-border-radius-topright: 15px;	border-top-left-radius: 15px;	border-top-right-radius: 15px;	border: none;}
.objectlist li a { display:block; padding:1em 20px; border: solid; border-width: 0px 1px 1px 1px; border-color$1: #C4C4C4; }
.objectlist li a:hover { background:#5b80b2; color:#3B5572; color:#fff; text-decoration:none; }

/* CONTENT */
#content { background:#fff; border-bottom:1px solid #ddd; padding:0;}
#leftpanel { 	float:left; 	width:600px;	border: none;}
#rightpanel {	float: left;	width: 300px;	padding: 10px;}
#vietnammap{	position: relative;}
#hotspot { 	position: absolute; 	top: 504px; 	left: 173px; 	width: 32px; 	height: 32px; 	background-color: transparent; 	border: 1px solid yellow; }
#citytable, #consultanttable {	-moz-border-radius: 15px;	border-radius: 15px;}
#body {	padding-left: 10px; padding-right: 10px; width: 100%;}
.mappreview {float:left;margin-right: 10px;}
.propertylist {list-style: none;}
.propertylist li {margin-bottom: 10px;}
.propertydetail td {padding-left: 10px;}
.propertydetail {font-size: 12px;}
.propertydetail th {text-align: left; padding-right: 10px; width: 80px; vertical-align:top;}

th {text-align: left;}

/* SORT BUTTON */
.sort-button { background-color: #E0EAF1; border-bottom: 1px solid #3E6D8E; border-right: 1px solid #7F9FB6; color: #3E6D8E; font-size: 90%; line-height: 2.4; margin: 2px 2px 2px 0; padding: 3px 4px; text-decoration: none; white-space: nowrap; cursor: pointer;}
.sort-button.active, a.sort-button:hover { background-color: #3E6D8E; border-bottom: 1px solid #37607D; border-right: 1px solid #37607D; color: #E0EAF1; text-decoration: none;}
form.inline-form {display: inline; }
.private-button { background-color: #AE211F; border-bottom: 1px solid #3E6D8E; border-right: 1px solid #7F9FB6; font-size: 90%; line-height: 2.4; margin: 2px 2px 2px 0; padding: 3px 4px; color: #E0EAF1; text-decoration: none; white-space: nowrap; text-shadow: 1px 1px #000;}

#wrapper { height: 100%; width: 100%; position: relative;}
.clearfix{height:23px;}

#breadcrumb {font-size: 120%; padding-left: 10px; }
