<style type="text/css">
#mytable { width: 400px; padding: 0; margin: 0; }
caption, .caption { padding: 0 0 5px 0; width: 400px; font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; text-align: right; }
th { font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #4f6b72; border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-top: 1px solid #C1DAD7; letter-spacing: 2px; text-transform: uppercase; text-align: left; padding: 6px 6px 6px 12px; background: #CAE8EA url(images/bg_header.jpg) no-repeat; }
th.nobg { border-top: 0; border-left: 0; border-right: 1px solid #C1DAD7; background: none; }
td { border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; padding: 2px; color: #4f6b72; }
td.alt { background: #F5FAFA; color: #797268; }
tr:nth-child(odd) { background: #F5FAFA; color: #797268; }
th.spec { border-left: 1px solid #C1DAD7; border-top: 0; background: #fff url(images/bullet1.gif) no-repeat; font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; }
th.specalt { border-left: 1px solid #C1DAD7; border-top: 0; background: #f5fafa url(images/bullet2.gif) no-repeat; font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #797268; }
</style>

{% block extrastyle %}
<style type="text/css">
  #{{ id }}_content { clear:both; }
  #{{ id }}_map { width: 100%; height: 500px; }
  #{{ id }}_map .aligned label { float:inherit; }
  #{{ id }}_admin_map { position: relative; vertical-align: top; float: right; width:  800px; }
  #{{ id }} { width: 390px; }
  .olControlEditingToolbar .olControlModifyFeatureItemActive { 
     background-image: url("{{ ADMIN_MEDIA_PREFIX }}img/gis/move_vertex_on.png");
     background-repeat: no-repeat;
  }
  .olControlEditingToolbar .olControlModifyFeatureItemInactive { 
     background-image: url("{{ ADMIN_MEDIA_PREFIX }}img/gis/move_vertex_off.png");
     background-repeat: no-repeat;
  }
</style>
<!--[if IE]>
<style type="text/css">
  /* This fixes the mouse offset issues in IE. */
  #{{ id }}_admin_map { position: static; vertical-align: top; }
  /* `font-size: 0` fixes the 1px border between tiles, but borks LayerSwitcher.
      Thus, this is disabled until a better fix is found.
  #{{ id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; font-size: 0; } */
</style>
<![endif]-->
{% endblock %}
<table id="{{ id }}_content">
	<tr>
		<td>
			<span id="{{ id }}_admin_map">
				<div id="{{ id }}_map"{% if LANGUAGE_BIDI %} dir="ltr"{% endif %}></div>
				<a href="javascript:{{ module }}.clearFeatures()">Delete all Features</a>
			</span>
		</td>
		<td>
			{% if is_polygon %}
				<div id="vn2000" >
					<table id="mytable" summary="Thông tin vị trí thửa đất trong sổ đỏ" cellspacing="0">
						<caption>
							Nhập tọa độ theo đúng trong sổ đỏ
						</caption>
						<tbody>
							<tr>
								<th scope="col" class="nobg">Tọa Độ</th>
								<th scope="col">X</th>
								<th scope="col">Y</th>
							</tr>
							<tr>
							    <td>1</td>
							    <td><input type="text" name="{{ module }}-x1" value="" id="{{ module }}-x1" /></td>
							    <td><input type="text" name="{{ module }}-y1" value="" id="{{ module }}-y1" /></td>
							</tr>
							<tr>
							    <td>2</td>
							    <td><input type="text" name="{{ module }}-x2" value="" id="{{ module }}-x2" /></td>
							    <td><input type="text" name="{{ module }}-y2" value="" id="{{ module }}-y2" /></td>
							</tr>
							<tr>
							    <td>3</td>
							    <td><input type="text" name="{{ module }}-x3" value="" id="{{ module }}-x3" /></td>
							    <td><input type="text" name="{{ module }}-y3" value="" id="{{ module }}-y3" /></td>
							</tr>
							
							<tr>
							    <td>4</td>
							    <td><input type="text" name="{{ module }}-x4" value="" id="{{ module }}-x4" /></td>
							    <td><input type="text" name="{{ module }}-y4" value="" id="{{ module }}-y4" /></td>
							</tr>
							<tr>
							    <td>5</td>
							    <td><input type="text" name="{{ module }}-x5" value="" id="{{ module }}-x5" /></td>
							    <td><input type="text" name="{{ module }}-y5" value="" id="{{ module }}-y5" /></td>
							</tr>
							<tr>
							    <td>6</td>
							    <td><input type="text" name="{{ module }}-x6" value="" id="{{ module }}-x6" /></td>
							    <td><input type="text" name="{{ module }}-y6" value="" id="{{ module }}-y6" /></td>
							</tr>
							<tr>
							    <td>7</td>
							    <td><input type="text" name="{{ module }}-x7" value="" id="{{ module }}-x7" /></td>
							    <td><input type="text" name="{{ module }}-y7" value="" id="{{ module }}-y7" /></td>
							</tr>
							<tr>
							    <td>8</td>
							    <td><input type="text" name="{{ module }}-x8" value="" id="{{ module }}-x8" /></td>
							    <td><input type="text" name="{{ module }}-y8" value="" id="{{ module }}-y8" /></td>
							</tr>
							<tr>
							    <td>9</td>
							    <td><input type="text" name="{{ module }}-x9" value="" id="{{ module }}-x9" /></td>
							    <td><input type="text" name="{{ module }}-y9" value="" id="{{ module }}-y9" /></td>
							</tr>
							<tr>
							    <td>10</td>
							    <td><input type="text" name="{{ module }}-x10" value="" id="{{ module }}-x10" /></td>
							    <td><input type="text" name="{{ module }}-y10" value="" id="{{ module }}-y10" /></td>
							</tr>
						</tbody>
					</table>
					<input type="button" value="Preview" id="{{ id }}_previewbtn" />
					<input type="button" value="Sync Table" id="{{ id }}_syncbtn" />
				</div>
				
				<p> WKT debugging window:</p>
				<textarea id="{{ id }}" class="vWKTField required" cols="150" rows="10" name="{{ name }}">{{ wkt }}</textarea>				
			{% endif %}
			

		</td>
	</tr>
</table>

<script type="text/javascript">
{% block openlayers %}{% include "gis/admin/google.js" %}{% endblock %}

{{ module }}.get_vn2000_wkt = function () {
	//Iterate through the text field from 1-10 and read X,Y values, then combine them into a Multi Poliline WKT string
	vn2000_wkt = 'MULTIPOLYGON((('
	for (var i=1; i <= 10; i++) {
	  x = django.jQuery ( '#{{ module }}-y' + i ).val(); 
	  y = django.jQuery ( '#{{ module }}-x' + i ).val();
	  if (x != '' && y != '' ) {
	  	if ( i > 1 ) {
	  		vn2000_wkt = vn2000_wkt + ',' + x + ' ' + y; //Append , between x,y pair
	  	} else {
	  		vn2000_wkt = vn2000_wkt + x + ' ' + y;
	  	}
	  	
	  } else {
	  	break;
	  } 
	};
	vn2000_wkt = vn2000_wkt + ')))';
	return vn2000_wkt;
}

django.jQuery( '#{{ id }}_previewbtn' ).click( function() {
	wkt = {{ module }}.get_vn2000_wkt();
	django.jQuery.get( '{% url coordtrans %}?wkt=' + wkt, function(wkt) {
		if (wkt){
			{{ module }}.clearFeatures();
			// After reading into geometry, immediately write back to 
			// WKT <textarea> as EWKT (so that SRID is included).
			var admin_geom = {{ module }}.read_wkt(wkt);
			{{ module }}.write_wkt(admin_geom);
			if ({{ module }}.is_collection){
				// If geometry collection, add each component individually so they may be
				// edited individually.
				for (var i = 0; i < {{ module }}.num_geom; i++){
					{{ module }}.layers.vector.addFeatures([new OpenLayers.Feature.Vector(admin_geom.geometry.components[i].clone())]);
				}
			} else {
				{{ module }}.layers.vector.addFeatures([admin_geom]);
			}
			// Zooming to the bounds.
  			{{ module }}.map.zoomToExtent(admin_geom.geometry.getBounds());
		}
	});
});

django.jQuery( '#{{ id }}_syncbtn' ).click( function() {
	// Remove SRID 
	var wkt = django.jQuery('#{{ id }}').val();
	var match = {{ module }}.re.exec(wkt);
  	if (match){wkt = match[1];}
	django.jQuery.get( '{% url reversecoordtrans %}?wkt=' + wkt, function(vn2000_wkt) {
		if (vn2000_wkt){
			var admin_geom = {{ module }}.read_wkt(vn2000_wkt);
			if ({{ module }}.is_collection){
				geom = admin_geom.geometry.components[0];
			}
			else {
				geom = admin_geom.geometry;
			};
			vertices = geom.getVertices()
			for (var i = vertices.length; i > 0; i--){
				 django.jQuery ( '#{{ module }}-y' + i).val(vertices[i-1].x.toFixed(2)); 
				 django.jQuery ( '#{{ module }}-x' + i).val(vertices[i-1].y.toFixed(2)); 
			};
		}
	});
});
</script>
<script type="text/javascript">{% block init_function %}{{ module }}.init();{% endblock %}</script>