{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load avatar_tags %}
{% block head_title %}{% trans "Home" %}{% endblock %}

{% block body %}

<div id="content">
    <div id="leftpanel">
        <div id="vietnammap">
        	<a id="hotspot" href="/datban/lands/thanhphohochiminh"></a>
			<img src="{{ STATIC_URL }}images/vietnammap.jpg" alt="Bản Đồ"/>
		</div>
    </div><!-- LEFT PANEL -->
    <div id="rightpanel">
        <div id="citytable" >
        	<ul class="objectlist">
        		<li><h3>{% trans "Provinces - Cities" %}</h3></li>
        		<li class="odd"><a href="/datban/lands/thanhphohochiminh">Tp. Hồ Chí Minh</a></li>
        		<li class="even"><a href="#">Cần Thơ</a></li>
        	</ul>
        </div><!-- CITY TABLE -->
        <br/>
        <div id="consultanttable">
        	<ul class="objectlist">
        		<li><h3>{% trans "Registered Consultants" %}</h3></li>
        		{% for user in users %}
		    		<li class="{% cycle 'odd' 'even' %}">
		    			<a  href="{% url profile_detail user.username %}">
		    				<div style="float:left; margin: -12px 10px 0px -0.9em;"> {% avatar user 40 %}</div>
		    				{% if user.get_profile.name %}
		    					{{ user.get_profile.name }}
		    				{% else %}
		    					{{ user.username }}
		    				{% endif %}
		    			</a>
		    		</li>
	            {% endfor %}
        	</ul>
        </div><!-- CONSULTANT TABLE -->
        
    </div><!-- RIGHT PANEL -->
    <br style="clear:both;"/>
</div><!-- CONTENT -->
</div>

{% endblock %} <!-- BLOCK BODY -->