{% extends "site_base.html" %}
{% load i18n %}
{% load humanize %}
{% load datban_tags %}
{% load avatar_tags %}
{% load pagination_tags %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block subnav %}
	<div id = "breadcrumb">
			>>>>  {{ unit.markup|safe }}
	</div>
{% endblock %}

{% block body %}

<div id="content">
    <div id="leftpanel">
		<div id="sort-bar">
			<form method="get" class="inline-form">
				<input type="submit" class="sort-button {% if sort == "listed" %}active{% endif %}" value="{% trans "Listed" %}" />
				<input type="hidden" name="sort" value="listed"/>
			</form>
			<form class="inline-form">
				<input type="submit" class="sort-button {% if sort == "sold" %}active{% endif %}" value="{% trans "Sold" %}" />
				<input type="hidden" name="sort" value="sold" />
			</form>
			<form class="inline-form">
				<input type="submit" class="sort-button {% if sort == "all" %}active{% endif %}" value="{% trans "All" %}" />
				<input type="hidden" name="sort" value="all" />
			</form>
		</div>
    	<div id="propertytable">
    		<h3> 
    			{% if sort == "listed" %}{% trans "Lands currently listed in " %}{% endif %}
    			{% if sort == "sold" %}{% trans "Lands sold in " %}{% endif %}
    			{% if sort == "all" %}{% trans "All lands sold or currently listed in " %}{% endif %}
    			{{ unit.name }}
    		</h3>
			<br/><br/>
    		{% if lands %}
    			{% autopaginate lands %}    			
    			<ul class="propertylist">
	    		   	{% for land in lands %}
		        		<li>
		        			<a href="{{ land.full_map_url }}"><img src="{{ land.static_map }}" alt="{% trans "Land Map" %}" class="mappreview"/></a>
		        			{% land_info %}
		        			<br style="clear: both;"/>
		        		</li>
	        		{% endfor %}
	        	</ul>
	        	{% paginate %}
        	{% else %}
				<span> {% trans "No lands found" %}</span>
			{% endif %}        		
    	</div> <!-- PROPERTY TABLE -->
	</div><!-- LEFT PANEL -->
    <div id="rightpanel">
        <div id="citytable" >
        	<ul class="objectlist">
        		{% if unit.subordinates.all %} <!-- SELECT SUBs, ELSE SELECT PEERs -->
        			{% for subordinate in unit.subordinates.all %}
			        	{% if forloop.first %}
	        				<li><h3>{{ subordinate.get_level_display }}</h3></li>
	        			{% endif %}
	        			<li class="{% cycle 'odd' 'even' %}">
	        				<a href="{% url lands subordinate.path %}">{{ subordinate.name }}</a>
	        			</li>
	        		{% endfor %}
	        	{% else %}
	        		{% for peer in unit.superordinate.subordinates.all %}
	        			{% if forloop.first %}
	        				<li><h3>{{ unit.get_level_display }}</h3></li>
	        			{% endif %}
 		       			<li class="{% cycle 'odd' 'even' %}">
	        				<a href="{% url lands peer.path %}">{{ peer.name }}</a>
	        			</li>
	        		{% endfor %}
	        	{% endif %}
        	</ul>
        </div><!-- CITY TABLE -->
        <br/>
        <div id="consultanttable">
        	<ul class="objectlist">
        		<li><h3>{% trans "Registered Consultants" %}</h3></li>
        		{% for profile in unit.profile_set.all %}
		    		<li class="{% cycle 'odd' 'even' %}">
		    			<a  href="{% url profile_detail profile %}">
		    				<div style="float:left; margin: -12px 10px 0px -0.9em;"> {% avatar profile.user 40 %}</div>
		    				{% if profile.name %}
		    					{{ profile.name }}
		    				{% else %}
		    					{{ profile.user.username }}
		    				{% endif %}
		    			</a>
		    		</li>
	            {% endfor %}
        	</ul>
        </div><!-- CONSULTANT TABLE -->
        
    </div><!-- RIGHT PANEL -->
    <br style="clear:both;"/>
</div><!-- CONTENT -->
</div>

{% endblock %} <!-- BLOCK BODY -->
