{% load i18n %}
{% load humanize %}
{% load datban_tags %}
<table summary="{% trans "Property details" %}" class="propertydetail">
	{% if land.is_private %}
	<tr>
		<td><span class="private-button">Private</span></td>
	</tr>
	{% endif %}
	<tr>
		<th>{% trans "Local" %}</th>
		<td>{{ land.admin_unit.markup|safe }}</td>
	</tr>
	<tr>
		<th>{% trans "Land type" %}</th>
		<td>{% trans land.get_land_type_display %}</td>
	</tr>
	{% if land.owner_name %}
		<tr>
			<th>{% trans "Owner" %}</th>
			<td>{{ land.owner_name }}</td>
		</tr>
	{% endif %}
	<tr>
		<th>{% trans "Listing status" %}</th>
		<td>{{ land.get_listing_status_display }}{% if land.user == user or user.is_staff %} / <a href="#" id="land_edit" >{% trans "Update information" %}</a> {% endif %}</td>
	</tr>
	<tr>
		<th>{% trans "Area" %}</th>
		<td>{{ land.area|floatformat }} m<sup>2</sup></td>
	</tr>
	<tr>
		<th>{% trans "Price" %}</th>
		<td>{% if land.price == 0 %}{% trans "Negotiable" %}{% else %}{{ land.price|intword }} Đồng{% endif %}</td>
	</tr>
	<tr>
		<th>{% trans  "Posted by" %}</th>
		<td><a href="{% url profile_detail land.user.username %}">
			{% if land.user.get_profile.name %}
				{{ land.user.get_profile.name }}
			{% else %}
				{{ land.user.username }}
			{% endif %}
		</a></td>
	</tr>
	<tr>
		<th>{% trans "Contact" %}</th>
		<td>{{ land.contact_name }} - {{ land.contact_phone }}</td>
	</tr>
</table>
<script type="text/javascript">
	$("#land_edit").click(function(){
		jQuery.facebox({ ajax: '{% url_land_edit land last_page %}' });
	});
</script>