{% load uni_form_tags %}
{% load i18n %}
{% load datban_tags %}
<script type="text/javascript">
	$(function() {
		var form = $("#land_form");
		form.submit(function() {
			$("#sendbutton").attr('disabled', true);
			$("#sendwrapper").prepend('<span>Sending message, please wait... </span>');
			$("#ajaxwrapper").load(
				"{% url_land_edit land last_page %}", 
				form.serializeArray(), function(responseText, responseStatus, xhr) {
					var ct = xhr.getResponseHeader("content-type") || "";
					if (ct == 'text/plain') {
						window.location.replace(responseText);
					};
					$("#sendbutton").attr('disabled', false)
				});
			return false;
		});
	});
</script>
<h1>{% trans "Edit Land" %}</h1>
<div id="ajaxwrapper">
	<form class="uniForm" method="POST" id="land_form" {% url_land_edit land last_page %}>
	
		<fieldset>
			{{ land_form|as_uni_form }}
			<div class="form_block">
				<p id="sendwrapper">
					<input type="submit" value="{% trans "Update" %}" id="sendbutton"/>
				</p>
			</div>
		</fieldset>
	
	</form>
</div>
