{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block head_title %}Ba Cây Lúa{% endblock %}</title>
<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<style type="text/css" media="screen">@import "{{ STATIC_URL }}css/iphonenav.css";</style>
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/pagination.css" />
<link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png" />
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/facebox.css" />
{% block head_extra %}{% endblock %}
</head>

<body>
    <h1 id="pageTitle">Đất Ba Cây Lúa</h1>
    
    {% block leftbutton %}<a id="homeButton" class="button" href="/">{% trans "Home" %}</a>{% endblock %}
    
	{% block rightbutton %}
		{% if user.is_authenticated %}
		    <a class="button" href="{% url acct_logout %}">{% trans "Logout" %}</a>
		{% else %}
		    <a class="button" href="{% url acct_login %}">{% trans "Login" %}</a>
		{% endif %}
	{% endblock %}
	
	{% block body %}{% endblock %}
	{% include "facebox_js.html" %}
</body>
</html>
