{% extends "datban/m_base.html" %}
{% load i18n %}

{% block head_title %}Xem Đất Bán{% endblock %}


{% block leftbutton %}
	{% if user.is_authenticated %}
		<a id="homeButton" class="button" href="{% url profile_detail user %}">{% trans "My Lands" %}</a>
	{% endif %}	
{% endblock %}


{% block body %}
	<div  selected="true">
		<br/>
	    <a href="/datban/lands/thanhphohochiminh">Tp. Hồ Chí Minh</a>
	    <br/><br/>
	    <a href="#">Cần Thơ</a>
    </div>
{% endblock %}
	