{% extends "datban/m_base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% block head_title %}Xem Đất Bán{% endblock %}

{% block leftbutton %}
	{% if not is_me %}
		<a id="homeButton" class="button" href="{% url profile_detail user %}">{% trans "My Lands" %}</a>
	{% else %}
		<a id="homeButton" class="button" href="{% url home %}">{% trans "Home" %}</a>
	{% endif %}	
	
{% endblock %}

{% block body %}
{% if lands %}
	{% autopaginate lands %}
    <ul id="albums" title="Albums" selected="true">
   	{% for land in lands %}
			<li>
				<a href="{{ land.full_map_url }}">
					<div class="landpreview">
						<img src="{{ land.static_map }}" width="160" height="160" alt="{% trans "Land Map" %}" class="mappreview"/>
					</div>
					<div class="landinfo">
						<ul>
							{% if land.is_private %}
								<li>
									<span class="private-button">Private</span>
								</li>
							{% endif %}
							<li>{% trans land.get_land_type_display %}</li>
							<li>{{ land.area }} m<sup>2</sup></li>
							<li>{% if land.price == 0 %}{% trans "Negotiable" %}{% else %}{{ land.price|intword }} Đồng{% endif %}</li>
							<li>
								{% if land.user.get_profile.name %}
			    					{{ land.user.get_profile.name }}
			    				{% else %}
			    					{{ land.user.username }}
			    				{% endif %}
			    			</li>
    						{% if land.owner_name %}
								<li>  
									{{ land.owner_name }}
								</li>
							{% endif %}
							<li>{{ land.get_listing_status_display }}</li>
							<li>{% trans "Contact: " %}{{ land.contact_name }} - {{ land.contact_phone }}</li>
						</ul>
					</div>
				</a>
				<div class="unit">{{ land.admin_unit.markup|safe }}</div>		 
			</li>
	{% endfor %}
		<li>
			{% paginate %}
		</li>
    </ul>
    
{% else %}
	<span> {% trans "There is no lands updated in this area." %}</span>
{% endif %}
{% endblock %}