{% extends "datban/m_base.html" %}
{% load account_tags %}
{% load i18n %}
{% load humanize %}
{% load uni_form_tags %}

{% block head_title %}Xem Đất Bán{% endblock %}

{% block body %}
	<div  selected="true">
	    {% if user.is_authenticated %}
	        {% user_display user as user_display %}
	        <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
	    {% endif %}
	    
	    <form id="searchForm" method="POST" action="{% url acct_login %}">
	        <fieldset>
	            <h1>{% trans "Log In" %}</h1>
	            <label>{% trans "Username" %}</label>
	            <input type="text" name="username" maxlength="30"/>
	            <label>{% trans "Password" %}</label>
	            <input type="password" name="password"/>
                <input type="submit" value="{% trans "Log in &raquo;" %}" />
                <label>{% trans "Remember" %}</label>
                <input type="checkbox" name="remember" checked="true" />
	        </fieldset>
    	</form>
	    
	    <p>{% blocktrans %}If you have any trouble logging in to your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    </div>
{% endblock %}
	