{% extends "datban/m_base.html" %}
{% load i18n %}
{% block head_extra %}
<script src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true&language=vi"></script>
<script src="{{ STATIC_URL }}js/jquery-1.2.6.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.litedialog.min.js" type="text/javascript"></script>
<script type="text/javascript">{% include "datban/js/map.js" %}</script>

<style>
    #body {font-family: sans-serif; width: 100%; padding: 0; margin:0; height: 100%; position: absolute;}
    #map { position:absolute ;height:100%; width: 100%;}
</style>
{% endblock %} <!-- BLOCK EXTRA HEAD -->

{% block leftbutton %}
	<a id="homeButton" class="button" href="{% url profile_detail user %}">{% trans "My Lands" %}</a>
{% endblock %}

{% block rightbutton %}
	<a id="position" class="button" href="#">{% trans "Position" %}</a>
{% endblock %}

{% block body %}
    <div id="map" selected="true"></div>
    <div id="loading"><img src="{{ STATIC_URL }}images/loading.gif"/></div>
{% endblock %}

