{% extends "map_base.html" %}
{% load i18n %}
{% load markup %}
{% block head_title %}{% trans "Map" %}{% endblock %}

{% block extra_head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false&language=vi"></script>
<!--script src="{{ STATIC_URL }}js/jquery-1.2.6.min.js" type="text/javascript"></script-->

<style>
    #body {    
    	position: absolute;
	    top: 105px;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    overflow: hidden;
	    padding:0;
	}
    #map {  height: 100%; overflow: hidden; }
    #facebox_overlay {z-index: -100;}

</style>
{% endblock %} <!-- BLOCK EXTRA HEAD -->

{% block subnav %}
	<div id = "breadcrumb">
			>>>>  {{ land.admin_unit.markup|safe }} > <a href='{% url profile_detail land.user.username %}'>{{ land.user.get_profile.name }}</a>
	</div>
{% endblock %}

{% block extra_body %}
	<script type="text/javascript">{% include "datban/js/map.js" %}</script>
	<a rel="facebox"></a>
{% endblock %}

{% block body %}
    <div id="map"></div>
{% endblock %} <!-- BLOCK BODY -->

