{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}tweets{% endblock %}


{% block subnav %}
    <ul>
        <li><a href="{% url tweets_you_follow %}">{% trans "Tweets You Follow" %}</a></li>
        <li><a href="{% url all_tweets %}">{% trans "All Tweets" %}</a></li>
    </ul>
{% endblock %}
