{% load i18n %}
{% load avatar_tags %}

<div class="groups">
    <h2>{% trans "Specialized Areas" %}</h2>
    <ul class="objectlist">
        {% for unit in profile.user.get_profile.admin_unit.all %}
        	<li>
        		<a href="{% url lands unit.path %}">{{ unit.name }}</a>
        	</li>
        {% endfor %}
    </ul>
</div>
<div class="friends">
    {% avatar profile.user 80 %}
    {% if is_me %}
    	<a href="{% url avatar_change %}">({% trans "replace" %})</a>
    {% endif %}
    <h2>{% trans "Activities" %}</h2>
    <table>
    	<tr>
    		<th>
    			{% trans "Lands sold" %}
    		</th>
    		<td style="padding-left: 20px;">
    			{{ profile.user.land_set.count }}
    		</trd>
    	</tr>
    	<tr>
    		<th>
    			{% trans "Lands posted" %}
    		</th>
    		<td style="padding-left: 20px;">
    			{{ profile.user.land_set.count }}
    		</trd>
    	</tr>
    </table>
</div>