{% extends "profiles/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load uni_form_tags %}
{% load datban_tags %}
{% load pagination_tags %}

{% block head_title %}{% trans "Profile for" %}{% if profile.name %}{{ profile.name }}{% else %}{{ profile.user.username }}{% endif %}{% endblock %}

{% block body %}
<div id="content">
    <div id="leftpanel">
		<div id="sort-bar">
			<form method="get" class="inline-form">
				<input type="submit" class="sort-button {% if sort == "listed" %}active{% endif %}" value="{% trans "Listed" %}" />
				<input type="hidden" name="sort" value="listed"/>
			</form>
			<form class="inline-form">
				<input type="submit" class="sort-button {% if sort == "sold" %}active{% endif %}" value="{% trans "Sold" %}" />
				<input type="hidden" name="sort" value="sold" />
			</form>
			<form class="inline-form">
				<input type="submit" class="sort-button {% if sort == "all" %}active{% endif %}" value="{% trans "All" %}" />
				<input type="hidden" name="sort" value="all" />
			</form>
		</div>
        {% if is_me %}<p><a href="{% url profile_edit %}" rel="facebox">Edit profile</a></p>{% endif %}
    	<div id="propertytable">
			<h2> {% trans "Lands posted by " %}
				{% if profile.name %}{{ profile.name }}{% else %}{{ profile.user.username }}{% endif %}	
			</h2>
			<br /><br />
    		{% if lands %}
    			{% autopaginate lands %}
    			<ul class="propertylist">
	    		   	{% for land in lands %}
		        		<li>
		        			<a href="{{ land.full_map_url }}"><img src="{{ land.static_map }}" alt="{% trans "Land Map" %}" class="mappreview"/></a>
		        			{% land_info %}
		        			<br style="clear: both;"/>
		        		</li>
	        		{% endfor %}
	        	</ul>
	        	{% paginate %}
        	{% else %}
				<span> {% trans "No lands found" %}</span>
			{% endif %}        		
    	</div> <!-- PROPERTY TABLE -->
    </div>
    <div id="rightpanel">
    	{% include "profiles/profile_right_panel.html" %}
    </div>
{% endblock %}

{% block extra_body %}
    <script src="{{ STATIC_URL }}pinax/js/avatar.js" type="text/javascript"></script>
{% endblock %}
