{% load uni_form_tags %}

<form class="uniForm" method="POST" action="{% url profile_edit %}">
    <fieldset>
        {{ profile_form|as_uni_form }}
        <div class="form_block">
            <input type="submit" value="update" />
            or <a href="{% url profile_detail profile.user.username %}">cancel</a>
        </div>
    </fieldset>
</form>

