{% load i18n %}
{% load humanize %}
{% load datban_tags %}
<table summary="{% trans "Property details" %}" class="propertydetail">
	{% if land.is_private %}
	<tr>
		<td><span class="private-button">Private</span></td>
	</tr>
	{% endif %}
	<tr>
		<th colspan="2">{{ land.description }}</th>
	</tr>
	<tr>
		<th align="left">{% trans "Local" %}</th>
		<td>{{ land.admin_unit.markup|safe }}</td>
	</tr>
	<tr>
		<th align="left">{% trans "Land type" %}</th>
		<td>{% trans land.get_land_type_display %}</td>
	</tr>
	{% if land.owner_name %}
	<tr>
		<th align="left">{% trans "Owner" %}</th>
		<td>{{ land.owner_name }}</td>
	</tr>
	{% endif %}
	<tr>
		<th align="left">{% trans "Listing Status" %}</th>
		<td>{{ land.get_listing_status_display }}{% if land.user == user or user.is_staff %} / <a href="{% url_land_edit land request.get_full_path %}" rel="facebox" >{% trans "Update information" %}</a> {% endif %}</td>
	</tr>
	<tr>
		<th align="left">{% trans "Area" %}</th>
		<td>{{ land.area|floatformat }} m<sup>2</sup></td>
	</tr>
	<tr>
		<th align="left">{% trans "Price" %}</th>
		<td>{% if land.price == 0 %}{% trans "Negotiable" %}{% else %}{{ land.price|intword }} Đồng{% endif %}</td>
	</tr>
	<tr>
		<th align="left">{% trans  "Posted by" %}</th>
		<td><a href="{% url profile_detail land.user.username %}"> {% if land.user.get_profile.name %}
		{{ land.user.get_profile.name }}
		{% else %}
		{{ land.user.username }}
		{% endif %} </a></td>
	</tr>
	<tr>
		<th align="left">{% trans "Contact" %}</th>
		<td>{{ land.contact_name }} - {{ land.contact_phone }}</td>
	</tr>
</table>